*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  color: white;
  background-color: black;
    overflow-x: hidden;
}

.im-con{
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    >h2{
    color: rgb(157, 157, 157);
    }
    >h4{
        color: rgb(83, 82, 82);
    }
  }

  .head1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
  }

  .line{
    border-top:1px solid #0d6efd ;
    width: 10%;
  }

  .container-xl{
    width: 400px;
  }

  .container-xl p{
    padding: 30px;
  }

  .edu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }

  .card{
    margin-bottom: 12px;
}


  .proj{
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.box8{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.lan-head{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  font-weight: 500;
}
.ln{
  border-bottom: 1px solid#0d6efd;
  width: 40px;
}
.lan{
    background-color: white;
    padding: 8px;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid rgb(179, 178, 178);
    box-shadow: 10px 10px 8px -2px rgba(0,0,0,0.1);
    transform: scale(0.90);
    margin: 20px;
}


.lan:hover{
  transition: 0.2s ease;
  transform: scale(1);
  border: 1px solid #0d6efd;
  cursor: default;
}

.contact{
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.mail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.mail input{
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 10px;
}

.mail input:focus{
  outline: none;
}

.mail input:focus::placeholder {
  color: transparent; /* Change the color to your desired value */
}

.mail div{
  background-color: #0d6efd;
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.so-link{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.num a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.foot{
  margin-top: 60px;
  border-top: 1px solid black;
  /* display:flex ;
  align-items: center;
  justify-content: center; */
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.logoo a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.content-foot{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.connn{
  text-align: center;
}

.soc a{
  margin-left: 20px;
}
  @media (max-width: 400px){
    .text-overlay{
        >h2{
            font-size: 13px;
        }
        >h4{
            font-size: 10px;
        }
    }

    .box8{
      display: inline-block;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .box-outer{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .contact{
      flex-direction: column;
    }

    .follow{
      margin-top: 30px;
    }

    .follow h4{
      text-align: center;

    }

    .so-link{
      width: 250px;
    }

    .social{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .num{
      margin-right: 40px;
      font-size: 12px;
    }

    .sub-head{
      font-size: 16px;
      margin-top: 20px;
    }

    .logoo{
      display: none;
    }

    .content-foot{
      flex-direction: column;
    }

  }
